.wrapper {
  background-image: url("../../components/Icons/bg-image.png"),
    linear-gradient(#595959, #999999);
  width: 100vw;
  background-position: center;
  background-size: cover;
  color: #000000;
  height: 100vh;
}
