@import "../../../styles/customscroll.scss";
#highligh-autocomplete-popup {
  li {
    min-height: 48px;
    position: relative !important;
    top: unset !important;
    left: unset !important;
    height: auto !important;
    padding-top: 0;
    padding-bottom: 0;
    overflow-x: hidden;
    [class^="makeStyles-bold"] {
      background: #fee285;
    }
    > div {
      width: 100%;
      padding: 6px 0;
      border-bottom: 1px solid #e9e9e9;
      white-space: pre;
    }
  }
}
.gap-2 {
  column-gap: 8px;
}
.mt-1 {
  margin-top: 2px;
}
.px-32 {
  padding-left: 32px;
  padding-right: 32px;
}
.create-user-wrapper {
  .email-tooltip {
    position: absolute;
    right: 10px;
    top: 45px;
    &.top {
      top: 32px;
      right: 25px;
    }
  }
  .paper {
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 16px 28px;
    border-bottom: 1px solid #eeeeef;
  }
  .light {
    color: #999999;
    font-size: 14px;
  }
  .mt-2 {
    margin-top: 6px;
  }
  .study-table {
    background-color: #fff;
    tbody:before {
      content: "-";
      display: block;
      line-height: 1em;
      color: transparent;
    }
    tr {
      vertical-align: top;
    }
  }
  .user-update-label {
    color: #444444;
    font-family: "Proxima Nova";
    font-size: 14px;
    letter-spacing: 0;
    font-weight: 500;
  }
  .user-update-font-500 {
    color: #000000;
    font-family: "Proxima Nova";
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0;
  }
  .mt-4 {
    margin-top: 16px;
  }
  .ml-3 {
    margin-left: 12px;
  }
  .padded {
    padding: 0 28px;
    margin-top: 28px;
  }
  min-height: calc(100vh - 152px);
  .breadcrump {
    margin-left: 0px;
    margin-bottom: 10px;
    padding-left: 0;
  }
  .product-tabs {
    .MuiTab-root {
      overflow: visible;
      margin-top: 4px;
    }
  }
  .full-cover {
    justify-content: space-between;
    margin: 8px 0px;
  }
  .flex-end {
    justify-content: end;
  }
  .justify-space-between {
    justify-content: space-between;
  }
  .top-actions {
    justify-content: end;
    label {
      margin-right: 20px;
    }
  }
  .title {
    font-size: 24px;
    margin-bottom: 4px;
  }
  .create-sidebar {
    // max-width: 75%;
  }
  .products-wrapper {
    margin-top: 10px;
    .contact-content {
      margin-top: 32px;
      div[class*=" Table-scrollRoot-"] {
        @extend .customscroll;
      }
    }
  }
  .table-wrapper {
    position: relative;
    height: 80vh;

    tfoot {
      display: none;
    }
  }
}
.user-assignment-modal {
  max-width: 1002px;
  width: 1002px;
  max-height: 586;
  height: 586px;
}
.w-100 {
  width: 100%;
}
.justify-content-end {
  justify-content: end;
}
.editable-row {
  margin-left: 16px; 
  font-weight: 600;
}
.back-to-user-management {
  font-size: 14px;
  display: flex;
    justify-content: center;
    align-items: center;
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.back-to-user-management:hover {
  text-decoration: none;
  border-bottom: 1px solid transparent;
}
.chevron-left {
  font-size: 16px;
}
.user-update-body-part {
  margin-top: 20px;
}
.user-rocket-icon {
  font-size: 30px;
  color: #595959;
}
.empty-grey {
  color: #595959;
}
.user-small-plus-icon {
  font-size: 12px;
  margin-right: 6px;
}
#user-update-assignment-modal table {
  height: 430px;
}
#user-update-assignment-modal table thead th {
  font-weight: 700;
}
.add-user-modal-row {
  height: 24px !important;
}