@import "../../styles/customscroll.scss";
.header-section {
  display: flex;
  align-items: center;
  margin-top: 55px;
  margin-bottom: 55px;
  justify-content: space-between;
  // padding-left: 23px;
  // padding-right: 23px;
  .header-title {
    display: flex;
    align-items: center;
  }
}
.studies-not-onboarded {
  .accordion-detail {
    padding-top: 20px !important;
    padding-bottom: 25px !important;
  }
  .MuiAccordion-root {
    box-sizing: border-box;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.04);
  }
  .MuiAccordionSummary-root:hover {
    background: transparent;
  }
  .in-progress-box,
  .failure-box {
    box-sizing: border-box;
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    background-color: #ffffff;
  } /*  */
  .in-progress-box.selected {
    background-color: #ecf3ff;
    border: 1px solid #10558a;
  }
  .failure-box.selected {
    background-color: #fdebeb;
    border: 1px solid #e20000;
  }
  .in-progress-box:hover {
    cursor: pointer;
    border: 1px solid #10558a;
  }
  .failure-box:hover {
    cursor: pointer;
    border: 1px solid #e20000;
  }
  .loader-container {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 99;
    background-color: rgba(255, 255, 255, 0.7);
  }
}

.study-setup-wrapper {
  margin: 28px;
  .study-setup-wrapper-title{
    font-size: 24px;
  }
}

.study-table {
  margin-top: 28px;

  div[class*=" Table-scrollRoot-"] {
    @extend .customscroll;
  }

  .MuiToolbar-regular > div {
    display: flex;
  }
}
div[class*='makeStyles-menuContainer-']{
  max-height: 300px !important;
}
