.wrapper{
    background-image: url("../LaunchPad/bg-image.png"), linear-gradient(#c61138, #7b2883);
    width: 100vw;
    background-position: center;
    background-size: cover;
    color: #000000;
    height: 100vh;
}