.page-header {
  border-bottom: 1px solid #e9e9e9;
  height: 76px;
  text-align: left;
  background-color: #ffffff;
  h2 {
    padding: 30px;
  }
}
.policy-table {
  background-color: #f8f9fb;
  min-height: 100vh;
  .table {
    margin: 30px;
    background-color: #ffffff;
  }
}
