@import "./styles/customscroll.scss";

.App {
  text-align: center;
}
.flex {
  display: flex;
}
.flex-center {
  align-items: center;
}
.link {
  cursor: pointer;
}
.b-font {
  font-weight: 600 !important;
}
.flexWrap {
  flex-direction: column;
}
.left-align {
  align-items: flex-start;
}
* {
  box-sizing: border-box;
}
body {
  // overflow-y: scroll !important;
  // padding: 0 !important;
}
#topNavbar {
  top: 0;
  left: auto;
  right: 0;
  position: fixed;
  width: 100%;
  z-index: 998;
  header div.MuiToolbar-regular {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
}
.page-wrapper {
  background: #f6f7fb;
  min-height: 100vh;
  position: relative;
  padding-top: 56px;
}
.custom-checkbox {
  appearance: auto;
  background-color: initial;
  height: 16px;
  width: 16px;
  cursor: pointer;
}
.Message-Banner {
  z-index: 1100 !important;
  top: 56px !important;
}

label.inline-checkbox {
  flex-direction: row-reverse;
  align-items: center;
  .MuiSwitch-sizeSmall .MuiSwitch-switchBase {
    top: -8px;
    left: -8px;
  }
  > span:last-child {
    margin: 0;
    padding: 0;
    margin-right: 10px;
  }
}
.navigation-panel {
  .waves {
    position: absolute;
    top: 0;
    width: 125px;
    right: 0;
    overflow: hidden;
    img {
      transform: scaleX(-1);
    }
  }
  .MuiDrawer-paper {
    & > button {
      display: none !important;
    }
    background: linear-gradient(to right, rgb(37, 0, 86), rgb(0, 118, 174));
    padding-top: 15px;
    border-right: 1px solid #fff;
    div[class^="Blade-body-"] {
      padding: 0 19px !important;
    }
    div[class^="Blade-expandPanel"] {
      display: none;
    }
    .Blade-body-8386 {
      padding: 0 15px !important;
    }
  }
  .link {
    color: #ffffff;
  }
  .close-panel {
    color: #ffffff;
    cursor: pointer;
    margin-left: 8px;
  }
  button {
    margin-right: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    padding: 0 10px;
    font-weight: 400;
    img {
      width: 24px;
      opacity: 0.7;
      border-radius: 2px;
      background: #ffffff;
      margin-right: 8px;
    }
    &:hover {
      background-color: rgba(255, 255, 255, 0.24);
      img {
        opacity: 1;
      }
    }
  }
}
