.create-role-wrapper{
    padding: 0 28px;
    .breadcrump{
        margin-left: -8px;
        margin-bottom: 0;
        padding-left: 0;
    }
    .top-actions{
        justify-content: end;
        label{
            margin-right: 40px;
        }
    }
    .create-sidebar{
        max-width: 75%;
        .title{
            font-size: 24px;
        }
    }
    .policies-wrapper{
        padding-top: 70px;
    }
    #policySnapshot{
        div[class^=Blade-expandPanelButton-]{
            display: none;
        }
        div[class^=Blade-header-]{
            h3{
                font-size: 20px;
            }
        }
    }
}